@import "../../App.scss";
.form-login {
  // background-image: $formBG;
  background-color: rgba(21, 19, 22, 0.61);
  position: relative;
  border-radius: 1.5rem;
  text-align: center;
  padding: 2rem 4rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
    opacity: 0.7;
    border-radius: 1.5rem;
  }
  .title {
    h3 {
      font-size: 2.5rem;
      color: white;
      text-align: center;
      margin-bottom: 3.5rem;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    label {
      text-align: left;
      margin-bottom: 1rem;
      span {
        display: block;
        color: #eee;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
      }
      input {
        width: 100%;
        padding: 0.7rem;
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.15);
        color: white;
        &:focus {
          outline: none;
        }
      }
    }

    a {
      color: white;
      text-decoration: none;
      margin-bottom: 1rem;
    }

    input[type="submit"] {
      background-image: $signInButtonBG;
      border: none;
      outline: none;
      color: white;
      font-weight: 500;
      font-size: 1rem;
      padding: 0.7rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
    .no-acc {
      color: white;
      margin: 2rem 0 0;
      a {
        color: var(--button-apply);
      }
    }
  }
}
