.home {
  .landing {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: url(./images/photo_5938390013479860534_y.jpg);
      background-position: center;
      background-size: cover;
      filter: brightness(0.4);
      z-index: -1;
    }
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    height: calc(100vh - 69px);
  }
}
